.App {
  text-align: center;
  /* background: linear-gradient(to top, #00008b, #000); */
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.live-value {
  border: 5px solid white;
  font-size: calc(100px + 2vmin);
  min-width: 350px;
  padding: 5%;
  font-family: "Open Sans";
  background-color: rgba(44, 44, 44, 0.7);
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
}

.value-title {
  font-size: calc(25px + 2vmin);
  font-family: "Open Sans";
}

